/* ========== RESET DAN DASAR ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #a7fce4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.4s ease;
    overflow-x: hidden;
}

/* ========== KARTU PROFIL ========== */
.kartu-profil {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 320px;
    animation: fa
